<h1>
  <button class="new_game_button">Start New Game!</button>
</h1>

<table>
  <tr>
    <td class="one">hi</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
  <tr>
    <td class="one">--</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
  <tr>
    <td class="one">--</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
  <tr>
    <td class="one">--</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
  <tr>
    <td class="one">--</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
  <tr>
    <td class="one">--</td>
    <td class="two">--</td>
    <td class="three">--</td>
    <td class="four">--</td>
    <td class="five">--</td>
    <td class="six">--</td>
    <td class="seven">--</td>
  </tr>
</table>